@{
    Layout = "_Layout";
    
}

<div class="container mt-5 mb-5">
<form action="/manager/forgetPassword" method="POST">
@Html.AntiForgeryToken()

<div class="form">


     <div class="form-group">
    <label for="exampleInputEmail1">Email adresiniz:</label>
    <input  type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email adresinizi giriniz.">
   
  </div>

   

   <button type="submit" class="btn btn-primary">Gönder</button>




</div>
</form>
</div>